<article class="movie-show">
  <img src="<%= movie.cover_url %>" alt="Portada">
  <h2><%= movie.title %> (<%= movie.year %>)</h2>
  <p><strong>Director:</strong> <%= movie.director %></p>
  <p><%= movie.description %></p>
  <a class="btn" href="/">Volver</a>
</article>
